<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Essa é a home da nossa aplicação.</h1>
    <a href="{% url 'url_nova_tarefa' %}">Nova tarefa</a>
    <a href="{% url 'url_novo_setor' %}">Novo Setor</a>
    <a href="{% url 'url_vermelho' %}">Tarefas em Vermelho</a>
    <a href="{% url 'url_listagem' %}">Listagem</a>
</body>
</html>