<!doctype html>
{% extends "metas/home.html" %}
{% block conteudo%}
    <table>
        <tr>
            <th>Nome</th>
            <th>Data Criação</th>
            <th>Data Entrega</th>
            <th>Responsável</th>
            <th>Setor</th>
            <th>Status</th>
            <th>Descrição</th>
        </tr>
        {% for tarefa in tarefas %}

                <tr>
                    <td><a href="{% url 'url_update' tarefa.id %}">{{ tarefa.nome }}</a></td>
                    <td>{{ tarefa.data_criacao }}</td>
                    <td>{{ tarefa.data_entrega }}</td>
                    <td>{{ tarefa.responsavel }}</td>
                    <td>{{ tarefa.setor }}</td>
                    <td>{{ tarefa.estado }}</td>
                    <td>{{ tarefa.descricao }}</td>
                </tr>

        {% endfor %}
    </table>
    <a href="{% url 'url_nova_tarefa' %}">Nova tarefa</a>
    <a href="{% url 'url_novo_setor' %}">Novo Setor</a>
{% endblock %}